.form-data-moip {
    max-width: 500px;
}
.admin__field-control-two-field {
    display: flex;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.admin__field.field-refund-boleto.agency-number,
.admin__field.field-refund-boleto.account-number {
    flex: 2;
}
.admin__field.field-refund-boleto.agency-check-number,
.admin__field.field-refund-boleto.account-check-number {
    flex:  1;
    margin-top: 0;
    padding-left: 1rem;
}