<?xml version="1.0"?>
<!--
/**
 * Copyright © Moip by PagSeguro. All rights reserved.
 * @author    Bruno Elisei <brunoelisei@o2ti.com>
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Fixed Issue  #84-->
    <type name="Magento\Vault\Api\PaymentTokenManagementInterface">
        <plugin name="moip_vault"
                type="Moip\Magento2\Plugin\PaymentToken"
                sortOrder="1"/>
    </type>

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="createWebhooks" xsi:type="object">Moip\Magento2\Console\Command\Preference\CreateWebhook</item>
                <item name="listWebhooks" xsi:type="object">Moip\Magento2\Console\Command\Preference\ListWebhook</item>
                <item name="deleteWebhooks" xsi:type="object">Moip\Magento2\Console\Command\Preference\DeleteWebhook</item>
            </argument>
        </arguments>
    </type>

    <preference for="Moip\Magento2\Api\Data\MoipInterestInterface" type="Moip\Magento2\Model\Data\MoipInterest" />
    <preference for="Moip\Magento2\Api\MoipInterestManagementInterface" type="Moip\Magento2\Model\MoipInterestManagement" />
    <preference for="Moip\Magento2\Api\GuestMoipInterestManagementInterface" type="Moip\Magento2\Model\GuestMoipInterestManagement" />
    <!-- Payment Method Facade configuration -->
    <virtualType name="Magento2BaseFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Moip\Magento2\Model\Ui\ConfigProviderBase::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Moip\Magento2\Block\FormCc</argument>
            <argument name="infoBlockType" xsi:type="string">Moip\Magento2\Block\InfoCc</argument>
            <argument name="valueHandlerPool" xsi:type="object">Magento2ValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">Magento2CcCommandPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="Magento2CcFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Moip\Magento2\Model\Ui\ConfigProviderCc::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Moip\Magento2\Block\FormCc</argument>
            <argument name="infoBlockType" xsi:type="string">Moip\Magento2\Block\InfoCc</argument>
            <argument name="valueHandlerPool" xsi:type="object">Magento2ValueCcHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">Magento2CcCommandPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="Magento2BoletoFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Moip\Magento2\Model\Ui\ConfigProviderBoleto::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Moip\Magento2\Block\FormBoleto</argument>
            <argument name="infoBlockType" xsi:type="string">Moip\Magento2\Block\InfoBoleto</argument>
            <argument name="valueHandlerPool" xsi:type="object">Magento2ValueBoletoHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">Magento2BoletoCommandPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="Magento2CcVaultFacade" type="Magento\Vault\Model\Method\Vault">
        <arguments>
            <argument name="config" xsi:type="object">Magento2VaultPaymentConfig</argument>
            <argument name="valueHandlerPool" xsi:type="object">Magento2VaultPaymentValueHandlerPool</argument>
            <argument name="vaultProvider" xsi:type="object">Magento2CcFacade</argument>
            <argument name="code" xsi:type="const">Moip\Magento2\Model\Ui\ConfigProviderCc::VAULT_CODE</argument>
        </arguments>
    </virtualType>

    <virtualType name="Magento2VaultPaymentValueHandlerPool" type="VaultPaymentValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">Magento2VaultPaymentValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    
    <virtualType name="Magento2VaultPaymentValueHandler" type="VaultPaymentDefaultValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">Magento2VaultPaymentConfig</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Payment\Gateway\Command\CommandManagerPool">
        <arguments>
            <argument name="executors" xsi:type="array">
                <item name="moip_magento2_cc" xsi:type="string">Magento2CcCommandManager</item>
                <item name="moip_magento2_boleto" xsi:type="string">Magento2BoletoCommandManager</item>
                <item name="moip_magento2_cc_vault" xsi:type="string">Magento2CcCommandManager</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Magento2CcCommandManager" type="Magento\Payment\Gateway\Command\CommandManager">
        <arguments>
            <argument name="commandPool" xsi:type="object">Magento2CcCommandPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="Magento2BoletoCommandManager" type="Magento\Payment\Gateway\Command\CommandManager">
        <arguments>
            <argument name="commandPool" xsi:type="object">Magento2BoletoCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Configuration reader -->
    <virtualType name="Magento2BaseConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\Moip\Magento2\Model\Ui\ConfigProviderBase::CODE</argument>
        </arguments>
    </virtualType>

    <virtualType name="Magento2CcConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\Moip\Magento2\Model\Ui\ConfigProviderCc::CODE</argument>
        </arguments>
    </virtualType>

    <virtualType name="Magento2VaultPaymentConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\Moip\Magento2\Model\Ui\ConfigProviderCc::VAULT_CODE</argument>
        </arguments>
    </virtualType>

    <virtualType name="Magento2BoletoConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\Moip\Magento2\Model\Ui\ConfigProviderBoleto::CODE</argument>
        </arguments>
    </virtualType>

     <!-- Block Info -->
    <type name="Moip\Magento2\Block\InfoCc">
        <arguments>
            <argument name="config" xsi:type="object">Magento2CcConfig</argument>
        </arguments>
    </type>

    <!-- Block Info -->
    <type name="Moip\Magento2\Block\InfoBoleto">
        <arguments>
            <argument name="config" xsi:type="object">Magento2BoletoConfig</argument>
        </arguments>
    </type>

    <!-- Commands infrastructure cc -->
    <virtualType name="Magento2CcCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="authorize" xsi:type="string">Magento2AuthorizeCommand</item>
                <item name="create_order_moip" xsi:type="string">Magento2CreateOrderAuthorizeCommand</item>
                <item name="fetch_transaction_information" xsi:type="string">Magento2FetchTransactionInfoCommand</item>
                <item name="refund" xsi:type="string">Magento2RefundCommand</item>
                <item name="accept_payment" xsi:type="string">Magento2AcceptPaymentCommand</item>
                <item name="deny_payment" xsi:type="string">Magento2DenyPaymentCommand</item>
                <item name="vault_authorize" xsi:type="string">Magento2CcVaultAuthorizeCommand</item>
                <item name="vault_capture" xsi:type="string">Magento2AcceptPaymentCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Commands infrastructure boleto -->
    <virtualType name="Magento2BoletoCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="authorize" xsi:type="string">Magento2AuthorizeCommand</item>
                <item name="create_order_moip" xsi:type="string">Magento2CreateOrderAuthorizeCommand</item>
                <item name="fetch_transaction_information" xsi:type="string">Magento2FetchTransactionInfoCommand</item>
                <item name="refund" xsi:type="string">Magento2RefundCommand</item>
                <item name="accept_payment" xsi:type="string">Magento2AcceptPaymentCommand</item>
                <item name="deny_payment" xsi:type="string">Magento2DenyPaymentCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Create Order Authorize command -->
    <virtualType name="Magento2CreateOrderAuthorizeCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">Magento2CreateOrderAuthorizationRequest</argument>
            <argument name="handler" xsi:type="object">Magento2CreateOrderResponseHandlerComposite</argument>
            <argument name="transferFactory" xsi:type="object">Moip\Magento2\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">Moip\Magento2\Gateway\Http\Client\CreateOrderAuthorizeClient</argument>
            <argument name="validator" xsi:type="object">Magento2TransactionValidator</argument>
            <argument name="errorMessageMapper" xsi:type="object">Magento2VirtualErrorMessageMapper</argument>
        </arguments>
    </virtualType>
    <!-- Authorization Request -->
    <type name="Moip\Magento2\Gateway\Request\CreateOrderAuthorizationRequest">
        <arguments>
            <argument name="config" xsi:type="object">Magento2BaseConfig</argument>
        </arguments>
    </type>

    <virtualType name="Magento2CreateOrderAuthorizationRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="transaction" xsi:type="string">Moip\Magento2\Gateway\Request\CreateOrderAuthorizationRequest</item>
                <item name="detailTotals" xsi:type="string">Moip\Magento2\Gateway\Request\DetailTotalsDataRequest</item>
                <item name="purchasedItems" xsi:type="string">Moip\Magento2\Gateway\Request\PurchasedItemsDataRequest</item>
                <item name="taxDocument" xsi:type="string">Moip\Magento2\Gateway\Request\TaxDocumentDataRequest</item>
                <item name="customer" xsi:type="string">Moip\Magento2\Gateway\Request\CustomerDataRequest</item>
                <item name="address" xsi:type="string">Moip\Magento2\Gateway\Request\AddressDataRequest</item>
                <item name="seller" xsi:type="string">Moip\Magento2\Gateway\Request\SellerDataRequest</item>
            </argument>
        </arguments>
    </virtualType>
   
    <!-- Create Order Authorization Response handlers -->
    <virtualType name="Magento2CreateOrderResponseHandlerComposite" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="extordid" xsi:type="string">Moip\Magento2\Gateway\Response\ExtOrdIdHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="Magento2CcVaultAuthorizeCommand" type="Moip\Magento2\Gateway\Command\AuthorizePaymentCommand">
        <arguments>
            <argument name="commandPool" xsi:type="object">Magento2CcCommandPool</argument>
            <argument name="requestBuilder" xsi:type="object">Magento2AuthorizationRequest</argument>
            <argument name="handler" xsi:type="object">Magento2ResponseHandlerComposite</argument>
            <argument name="transferFactory" xsi:type="object">Moip\Magento2\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">Moip\Magento2\Gateway\Http\Client\AuthorizeClient</argument>
            <argument name="validator" xsi:type="object">Magento2TransactionValidator</argument>
            <argument name="errorMessageMapper" xsi:type="object">Magento2VirtualErrorMessageMapper</argument>
        </arguments>
    </virtualType>
    <!-- Authorize command -->
    <virtualType name="Magento2AuthorizeCommand" type="Moip\Magento2\Gateway\Command\AuthorizePaymentCommand">
        <arguments>
            <argument name="commandPool" xsi:type="object">Magento2CcCommandPool</argument>
            <argument name="requestBuilder" xsi:type="object">Magento2AuthorizationRequest</argument>
            <argument name="handler" xsi:type="object">Magento2ResponseHandlerComposite</argument>
            <argument name="transferFactory" xsi:type="object">Moip\Magento2\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">Moip\Magento2\Gateway\Http\Client\AuthorizeClient</argument>
            <argument name="validator" xsi:type="object">Magento2TransactionValidator</argument>
            <argument name="errorMessageMapper" xsi:type="object">Magento2VirtualErrorMessageMapper</argument>
        </arguments>
    </virtualType>
    <!-- Authorization Request -->
    <virtualType name="Magento2AuthorizationRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="moipOrder" xsi:type="string">Moip\Magento2\Gateway\Request\AuthorizationRequest</item>
                <item name="paymentDetails" xsi:type="string">Moip\Magento2\Gateway\Request\PaymentDataRequest</item>
                <item name="billingAddress" xsi:type="string">Moip\Magento2\Gateway\Request\BillingAddressDataRequest</item>
                <item name="device" xsi:type="string">Moip\Magento2\Gateway\Request\DeviceDataRequest</item>
                <item name="vault" xsi:type="string">Moip\Magento2\Gateway\Request\VaultDataBuilder</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Moip\Magento2\Gateway\Request\AuthorizationRequest">
        <arguments>
            <argument name="config" xsi:type="object">Magento2BaseConfig</argument>
        </arguments>
    </type>

    <!-- Authorization Response handlers -->
    <virtualType name="Magento2ResponseHandlerComposite" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="txnid" xsi:type="string">Moip\Magento2\Gateway\Response\TxnIdHandler</item>
                <item name="vault_details" xsi:type="string">Moip\Magento2\Gateway\Response\VaultDetailsHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Fetch Transaction Info Command -->
    <virtualType name="Magento2FetchTransactionInfoCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">Magento2FetchTransactionInfoRequest</argument>
            <argument name="transferFactory" xsi:type="object">Moip\Magento2\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">Moip\Magento2\Gateway\Http\Client\FetchTransactionInfoClient</argument>
            <argument name="handler" xsi:type="object">Magento2FetchTransactionInfoResponseHandlerComposite</argument>
            <argument name="validator" xsi:type="object">Magento2TransactionValidator</argument>
            <argument name="errorMessageMapper" xsi:type="object">Magento2VirtualErrorMessageMapper</argument>
        </arguments>
    </virtualType>
    <!-- Fetch Transaction Info Request -->
    <virtualType name="Magento2FetchTransactionInfoRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="transaction" xsi:type="string">Moip\Magento2\Gateway\Request\FetchTransactionInfoRequest</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Moip\Magento2\Gateway\Request\FetchTransactionInfoRequest">
        <arguments>
            <argument name="config" xsi:type="object">Magento2BaseConfig</argument>
        </arguments>
    </type>
    <!-- Fetch Transaction Info handlers -->
    <virtualType name="Magento2FetchTransactionInfoResponseHandlerComposite" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="accept" xsi:type="string">Moip\Magento2\Gateway\Response\FetchTransactionInfoHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Refund Command -->
    <virtualType name="Magento2RefundCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">Magento2RefundRequest</argument>
            <argument name="transferFactory" xsi:type="object">Moip\Magento2\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">Moip\Magento2\Gateway\Http\Client\RefundClient</argument>
            <argument name="handler" xsi:type="object">Magento2RefundResponseHandlerComposite</argument>
            <argument name="validator" xsi:type="object">Magento2TransactionValidator</argument>
            <argument name="errorMessageMapper" xsi:type="object">Magento2VirtualErrorMessageMapper</argument>
        </arguments>
    </virtualType>
    <!-- Fetch Transaction Info Request -->
    <virtualType name="Magento2RefundRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="transaction" xsi:type="string">Moip\Magento2\Gateway\Request\RefundRequest</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Moip\Magento2\Gateway\Request\RefundRequest">
        <arguments>
            <argument name="config" xsi:type="object">Magento2BaseConfig</argument>
        </arguments>
    </type>
    <!-- Fetch Transaction Info handlers -->
    <virtualType name="Magento2RefundResponseHandlerComposite" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="accept" xsi:type="string">Moip\Magento2\Gateway\Response\RefundHandler</item>
            </argument>
        </arguments>
    </virtualType>


    <!-- Accept Payment Command -->
    <virtualType name="Magento2AcceptPaymentCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">Magento2AcceptPaymentRequest</argument>
            <argument name="transferFactory" xsi:type="object">Moip\Magento2\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">Moip\Magento2\Gateway\Http\Client\AcceptPaymentClient</argument>
            <argument name="handler" xsi:type="object">Magento2AccpetPaymentResponseHandlerComposite</argument>
            <argument name="validator" xsi:type="object">Magento2TransactionValidator</argument>
            <argument name="errorMessageMapper" xsi:type="object">Magento2VirtualErrorMessageMapper</argument>
        </arguments>
    </virtualType>
    <!-- Accept Payment Request -->
    <virtualType name="Magento2AcceptPaymentRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="transaction" xsi:type="string">Moip\Magento2\Gateway\Request\AuthorizationRequest</item>
                <item name="detailTotals" xsi:type="string">Moip\Magento2\Gateway\Request\DetailTotalsDataRequest</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Moip\Magento2\Gateway\Request\AuthorizationRequest">
        <arguments>
            <argument name="config" xsi:type="object">Magento2BaseConfig</argument>
        </arguments>
    </type>
    <!-- Accept Payment handlers -->
    <virtualType name="Magento2AccpetPaymentResponseHandlerComposite" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="accept" xsi:type="string">Moip\Magento2\Gateway\Response\AcceptPaymentHandler</item>
            </argument>
        </arguments>
    </virtualType>

     <!-- Deny Payment Command -->
    <virtualType name="Magento2DenyPaymentCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">Magento2DenyPaymentRequest</argument>
            <argument name="transferFactory" xsi:type="object">Moip\Magento2\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">Moip\Magento2\Gateway\Http\Client\DenyPaymentClient</argument>
            <argument name="handler" xsi:type="object">Magento2DenyPaymentResponseHandlerComposite</argument>
            <argument name="validator" xsi:type="object">Magento2TransactionValidator</argument>
            <argument name="errorMessageMapper" xsi:type="object">Magento2VirtualErrorMessageMapper</argument>
        </arguments>
    </virtualType>
    <!-- Deny Payment Request -->
    <virtualType name="Magento2DenyPaymentRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="transaction" xsi:type="string">Moip\Magento2\Gateway\Request\AuthorizationRequest</item>
                <item name="detailTotals" xsi:type="string">Moip\Magento2\Gateway\Request\DetailTotalsDataRequest</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Moip\Magento2\Gateway\Request\Magento2DenyPaymentRequest">
        <arguments>
            <argument name="config" xsi:type="object">Magento2BaseConfig</argument>
        </arguments>
    </type>
    <!-- Deny Payment handlers -->
    <virtualType name="Magento2DenyPaymentResponseHandlerComposite" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="accept" xsi:type="string">Moip\Magento2\Gateway\Response\DenyPaymentHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Value handlers infrastructure -->
    <virtualType name="Magento2ValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">Magento2BaseConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="Magento2BaseConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">Magento2BaseConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="Magento2ValueCcHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">Magento2CcConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento2CcConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">Magento2CcConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="Magento2ValueBoletoHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">Magento2BoletoConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento2BoletoConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">Magento2BoletoConfig</argument>
        </arguments>
    </virtualType>

   
    <!-- Error Mapping -->
    <virtualType name="Magento2ErrorMappingConfigReader" type="Magento\Payment\Gateway\ErrorMapper\VirtualConfigReader">
        <arguments>
            <argument name="fileName" xsi:type="string">moip_error_mapping.xml</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento2ErrorMappingData" type="Magento\Payment\Gateway\ErrorMapper\MappingData">
        <arguments>
            <argument name="reader" xsi:type="object">Magento2ErrorMappingConfigReader</argument>
            <argument name="cacheId" xsi:type="string">moip_error_mapper</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento2VirtualErrorMessageMapper" type="Magento\Payment\Gateway\ErrorMapper\ErrorMessageMapper">
        <arguments>
            <argument name="messageMapping" xsi:type="object">Magento2ErrorMappingData</argument>
        </arguments>
    </virtualType>

    <!-- Validator -->
    <virtualType name="Magento2TransactionValidator" type="Magento\Payment\Gateway\Validator\ValidatorComposite">
        <arguments>
            <argument name="chainBreakingValidators" xsi:type="array">
                <item name="general" xsi:type="boolean">true</item>
            </argument>
            <argument name="validators" xsi:type="array">
                <item name="general" xsi:type="string">Moip\Magento2\Gateway\Validator\GeneralResponseValidator</item>
            </argument>
        </arguments>
    </virtualType>
  

    <!-- Authorize command -->
    <virtualType name="Magento2CreateOrderAuthorizeCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">Magento2CreateOrderAuthorizationRequest</argument>
            <argument name="handler" xsi:type="object">Magento2CreateOrderCheckoutResponseHandlerComposite</argument>
            <argument name="transferFactory" xsi:type="object">Moip\Magento2\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">Moip\Magento2\Gateway\Http\Client\CreateOrderAuthorizeClient</argument>
            <argument name="validator" xsi:type="object">Magento2TransactionValidator</argument>
            <argument name="errorMessageMapper" xsi:type="object">Magento2VirtualErrorMessageMapper</argument>
        </arguments>
    </virtualType>

    <virtualType name="Magento2CreateOrderAuthorizationRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="transaction" xsi:type="string">Moip\Magento2\Gateway\Request\CreateOrderAuthorizationRequest</item>
                <item name="detailTotals" xsi:type="string">Moip\Magento2\Gateway\Request\DetailTotalsDataRequest</item>
                <item name="purchasedItems" xsi:type="string">Moip\Magento2\Gateway\Request\PurchasedItemsDataRequest</item>
                <item name="taxDocument" xsi:type="string">Moip\Magento2\Gateway\Request\TaxDocumentDataRequest</item>
                <item name="customer" xsi:type="string">Moip\Magento2\Gateway\Request\CustomerDataRequest</item>
                <item name="address" xsi:type="string">Moip\Magento2\Gateway\Request\AddressDataRequest</item>
                <item name="seller" xsi:type="string">Moip\Magento2\Gateway\Request\SellerDataRequest</item>
                <item name="checkoutPreferences" xsi:type="string">Moip\Magento2\Gateway\Request\CheckoutPreferencesRequest</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Authorization Request -->
    <virtualType name="Magento2AuthorizationCheckoutRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="moipOrder" xsi:type="string">Moip\Magento2\Gateway\Request\CreateOrderAuthorizationRequest</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="Magento2CreateOrderCheckoutResponseHandlerComposite" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="extordid" xsi:type="string">Moip\Magento2\Gateway\Response\ExtOrdIdCheckoutHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Moip\Magento2\Gateway\Request\CreateOrderAuthorizationRequest">
        <arguments>
            <argument name="config" xsi:type="object">Magento2BaseConfig</argument>
        </arguments>
    </type>
    <type name="Moip\Magento2\Gateway\Http\Client\CreateOrderAuthorizeClient">
        <arguments>
            <argument name="logger" xsi:type="object">Magento2Logger</argument>
        </arguments>
    </type>

    <type name="Moip\Magento2\Observer\AddMoipInterestToOrderObserver">
        <arguments>
            <argument name="logger" xsi:type="object">Magento2Logger</argument>
        </arguments>
    </type>

    <!-- Logger, initialized with Magento2BaseConfig -->
    <virtualType name="Magento2Logger" type="Magento\Payment\Model\Method\Logger">
        <arguments>
            <argument name="config" xsi:type="object">Magento2BaseConfig</argument>
        </arguments>
    </virtualType>

    <type name="Moip\Magento2\Gateway\Http\Client\CreateOrderAuthorizeClient">
        <arguments>
            <argument name="logger" xsi:type="object">Magento2Logger</argument>
        </arguments>
    </type>

    <type name="Moip\Magento2\Gateway\Http\Client\AuthorizeClient">
        <arguments>
            <argument name="logger" xsi:type="object">Magento2Logger</argument>
        </arguments>
    </type>

    <type name="Moip\Magento2\Gateway\Http\Client\FetchTransactionInfoClient">
        <arguments>
            <argument name="logger" xsi:type="object">Magento2Logger</argument>
        </arguments>
    </type>

    <type name="Moip\Magento2\Gateway\Http\Client\AcceptPaymentClient">
        <arguments>
            <argument name="logger" xsi:type="object">Magento2Logger</argument>
        </arguments>
    </type>

    <type name="Moip\Magento2\Gateway\Http\Client\RefundClient">
        <arguments>
            <argument name="logger" xsi:type="object">Magento2Logger</argument>
        </arguments>
    </type>

    <type name="Moip\Magento2\Cron\StatusUpdateOrderCc">
        <arguments>
            <argument name="logger" xsi:type="object">Magento2Logger</argument>
        </arguments>
    </type>

    <type name="Moip\Magento2\Cron\StatusUpdateOrderBoleto">
        <arguments>
            <argument name="logger" xsi:type="object">Magento2Logger</argument>
        </arguments>
    </type>

    <type name="Moip\Magento2\Cron\StatusUpdateOrderCheckout">
        <arguments>
            <argument name="logger" xsi:type="object">Magento2Logger</argument>
        </arguments>
    </type>

    <type name="Moip\Magento2\Controller\Webhooks\Accept">
        <arguments>
            <argument name="logger" xsi:type="object">Magento2Logger</argument>
        </arguments>
    </type>

    <type name="Moip\Magento2\Controller\Webhooks\Deny">
        <arguments>
            <argument name="logger" xsi:type="object">Magento2Logger</argument>
        </arguments>
    </type>

    <type name="Moip\Magento2\Controller\Webhooks\Refund">
        <arguments>
            <argument name="logger" xsi:type="object">Magento2Logger</argument>
        </arguments>
    </type>
</config>