<?xml version="1.0"?>
<!--
/**
 * Copyright © Moip by PagSeguro. All rights reserved.
 * @author    Bruno Elisei <brunoelisei@o2ti.com>
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="adminhtml_sales_order_creditmemo_register_before">
        <observer name="Moip_Magento2::refund_boleto" instance="Moip\Magento2\Observer\SetBoletoDataToCreditmemo" />
    </event>
</config>
