<?xml version="1.0"?>
<!--
/**
 * Copyright © Moip by PagSeguro. All rights reserved.
 * @author    Bruno Elisei <brunoelisei@o2ti.com>
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
	    <route id="moip" frontName="moip">
	        <module name="Moip_Magento2" before='Magento_Backend' />
	    </route>
	    <route id="orderupdate" frontName="moipupdate">
            <module name="Moip_Magento2" before='Magento_Backend' />
        </route>
	</router>
</config>