<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="moipbase" translate="label" type="text" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Wirecard Brasil - Configuração Base</label>
                <field id="environment_mode" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Developer Mode</label>
                    <source_model>Moip\Magento2\Block\Adminhtml\System\Config\Environment</source_model>
                    <comment>For testing use the sandbox environment.</comment>
                </field>
                <field id="oauth" translate="label comment" type="button" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                    <frontend_model>Moip\Magento2\Block\Adminhtml\System\Config\Oauth</frontend_model>
                    <label>Module Authorization</label>
                    <comment>Warning because the sandbox account is not the same as production</comment>
                </field>
                <group id="advanced" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                	<label>Advanced Settings</label>
                    <comment>List the attributes of your Magento the data expected by our API.</comment>
                	<field id="type_cpf" translate="label select" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
	                    <label>The CPF will be an attribute obtained from the</label>
	                    <source_model>Moip\Magento2\Block\Adminhtml\System\Config\TypeCPF</source_model>
	                </field>
	                <field id="cpf_for_address" translate="label" type="select" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="0">
	                    <label>The CPF attribute is</label>
	                    <source_model>Moip\Magento2\Block\Adminhtml\System\Config\AddressMap</source_model>
	                    <depends>
	                        <field id="*/*/*/type_cpf">address</field>
	                    </depends>
	                </field>
	                <field id="cpf_for_customer" translate="label" type="select" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="0">
	                    <label>The CPF attribute is</label>
	                    <source_model>Moip\Magento2\Block\Adminhtml\System\Config\CustomerMap</source_model>
	                    <depends>
	                        <field id="*/*/*/type_cpf">customer</field>
	                    </depends>
	                </field>
	                <field id="type_cnpj" translate="label select" type="select" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="0">
	                    <label>The attribute CNPJ will be obtained from the</label>
	                    <source_model>Moip\Magento2\Block\Adminhtml\System\Config\TypeCNPJ</source_model>
	                </field>
	                <field id="cnpj_for_address" translate="label" type="select" sortOrder="14" showInDefault="1" showInWebsite="1" showInStore="0">
	                    <label>The CNPJ attribute is</label>
	                    <source_model>Moip\Magento2\Block\Adminhtml\System\Config\AddressMap</source_model>
	                    <depends>
	                        <field id="*/*/*/type_cnpj">use_address</field>
	                    </depends>
	                </field>
	                <field id="cnpj_for_customer" translate="label" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="0">
	                    <label>The CNPJ attribute is</label>
	                    <source_model>Moip\Magento2\Block\Adminhtml\System\Config\CustomerMap</source_model>
	                    <depends>
	                        <field id="*/*/*/type_cnpj">use_customer</field>
	                    </depends>
	                </field>
	                <field id="type_name_company" translate="label" type="select" sortOrder="16" showInDefault="1" showInWebsite="1" showInStore="0">
	                    <label>The attribute Company Name will be obtained from the</label>
	                    <source_model>Moip\Magento2\Block\Adminhtml\System\Config\TypeNameCompany</source_model>
	                </field>
	                <field id="company_name_address" translate="label" type="select" sortOrder="17" showInDefault="1" showInWebsite="1" showInStore="0">
	                    <label>The Company Name attribute is</label>
	                    <source_model>Moip\Magento2\Block\Adminhtml\System\Config\AddressMap</source_model>
	                    <depends>
	                        <field id="*/*/*/type_name_company">address</field>
	                    </depends>
	                </field>
	                <field id="company_name_customer" translate="label" type="select" sortOrder="18" showInDefault="1" showInWebsite="1" showInStore="0">
	                    <label>The Company Name attribute is</label>
	                    <source_model>Moip\Magento2\Block\Adminhtml\System\Config\AddressMap</source_model>
	                    <depends>
	                        <field id="*/*/*/type_name_company">customer</field>
	                    </depends>
	                </field>
	                <field id="street_logradouro" translate="label" type="select" sortOrder="19" showInDefault="1" showInWebsite="1" showInStore="0">
	                    <label>The Street attribute is</label>
	                    <source_model>Moip\Magento2\Block\Adminhtml\System\Config\Street</source_model>
	                </field>
	                <field id="street_number" translate="label" type="select" sortOrder="19" showInDefault="1" showInWebsite="1" showInStore="0">
	                    <label>The address number is</label>
	                    <source_model>Moip\Magento2\Block\Adminhtml\System\Config\Street</source_model>
	                </field>
	                <field id="street_complemento" translate="label" type="select" sortOrder="19" showInDefault="1" showInWebsite="1" showInStore="0">
	                    <label>The address complement is</label>
	                    <source_model>Moip\Magento2\Block\Adminhtml\System\Config\Street</source_model>
	                </field>
	                <field id="street_district" translate="label" type="select" sortOrder="19" showInDefault="1" showInWebsite="1" showInStore="0">
	                    <label>The address district is</label>
	                    <source_model>Moip\Magento2\Block\Adminhtml\System\Config\Street</source_model>
	                </field>
               	</group>
                
            </group>
             <group id="moipboleto" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Wirecard Brasil - Boleto</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="expiration" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Days due</label>
                    <comment>Consecutive days.</comment>
                    <validate>required-entry validate-number</validate>
                </field>
                <field id="instrucao1" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Instruction - 1st line</label>
                    <comment>Information will be printed on the boleto.</comment>
                </field>
                <field id="instrucao2" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Instruction - 2st line</label>
                    <comment>Information will be printed on the boleto.</comment>
                </field>
                <field id="instrucao3" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Instruction - 3st line</label>
                    <comment>Information will be printed on the boleto.</comment>
                </field>
                <field id="instruction" translate="label" type="textarea" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Customer orientation at checkout</label>
                    <comment>Information displayed on checkout.</comment>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sort Order</label>
                </field>
                <field id="allowspecific" translate="label" type="allowspecific" sortOrder="130" showInDefault="9"
                       showInWebsite="1" showInStore="0">
                    <label>Payment From Applicable Countries</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="140" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Payment From Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                </field>
            </group>
            <group id="moipcc" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Wirecard Brasil - Cartão de Crédito</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
			 	<field id="title" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <group id="document" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Captura do Documento Fiscal - CPF</label>
                    <field id="getdocument" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Capturar CPF no formulário de pagamento?</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                </group>
               
				<group id="installment" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Installment and interest</label>
                        <field id="type_interest" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Interest rate</label>
                            <source_model>Moip\Magento2\Block\Adminhtml\System\Config\TypeInterest</source_model>
                        </field>

        				<field id="min_installment" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Minimum value of installment</label>
                            <validate>required-entry validate-number</validate>
                        </field>
        				<field id="max_installment" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Maximum number of installments</label>
                            <validate>required-entry validate-number</validate>
                        </field>
        				
        				<field id="installment_2" translate="label" type="text" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Interest on the 2nd tranche</label>
                            <validate>required-entry validate-number</validate>
                        </field>
        				<field id="installment_3" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Interest on the 3nd tranche</label>
                            <validate>required-entry validate-number</validate>
                        </field>
        				<field id="installment_4" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Interest on the 4nd tranche</label>
                            <validate>required-entry validate-number</validate>
                        </field>
        				<field id="installment_5" translate="label" type="text" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Interest on the 5nd tranche</label>
                            <validate>required-entry validate-number</validate>
                        </field>
        				<field id="installment_6" translate="label" type="text" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Interest on the 6nd tranche</label>
                            <validate>required-entry validate-number</validate>
                        </field>
        				<field id="installment_7" translate="label" type="text" sortOrder="14" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Interest on the 7nd tranche</label>
                            <validate>required-entry validate-number</validate>
                        </field>
        				<field id="installment_8" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Interest on the 8nd tranche</label>
                            <validate>required-entry validate-number</validate>
                        </field>
        				<field id="installment_9" translate="label" type="text" sortOrder="16" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Interest on the 9nd tranche</label>
                            <validate>required-entry validate-number</validate>
                        </field>
        				<field id="installment_10" translate="label" type="text" sortOrder="17" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Interest on the 10nd tranche</label>
                            <validate>required-entry validate-number</validate>
                        </field>
        				<field id="installment_11" translate="label" type="text" sortOrder="18" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Interest on the 11nd tranche</label>
                            <validate>required-entry validate-number</validate>
                        </field>
        				<field id="installment_12" translate="label" type="text" sortOrder="19" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Interest on the 12nd tranche</label>
                            <validate>required-entry validate-number</validate>
                        </field>
				</group>
				<field id="sort_order" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sort Order</label>
                </field>
				<field id="allowspecific" translate="label" type="allowspecific" sortOrder="130" showInDefault="9"
                       showInWebsite="1" showInStore="0">
                    <label>Payment From Applicable Countries</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="140" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Payment From Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
