<?xml version="1.0"?>
<!--
/**
 * Copyright © Wirecard Brasil. All rights reserved.
 * @author    Bruno Elisei <brunoelisei@o2ti.com>
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="moip_base" translate="label" type="text" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                <label><![CDATA[<div class='moip-payment-logo'></div><div class='moip-payment-byline'><p>Wirecard Brasil (formerly Moip) is a complete payment solution exclusive to <b>Brazil</b>.</p><p>The complete solution for receiving payments and simplifying your business finances. Our solution has everything you need to accept all payment methods.</p></div>]]></label>
                <fieldset_css>complex moip-payment-section</fieldset_css>
                <frontend_model>Moip\Magento2\Block\Adminhtml\System\Config\PaymentGroup</frontend_model>
                <group id="attribute_relationship" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Attribute Relationship Definition</label>
                    <comment>List the attributes of your Magento the data expected by our API</comment>
                    <field id="type_cpf" translate="label select" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>The CPF/CNPJ will be an attribute obtained from the</label>
                        <source_model>Moip\Magento2\Block\Adminhtml\System\Config\TypeCPF</source_model>
                        <config_path>payment/moip_magento2/type_cpf</config_path>
                        <validate>required-entry validate-select</validate>
                    </field>
                    <field id="cpf_for_address" translate="label select" type="select" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>The CPF/CNPJ attribute is</label>
                        <source_model>Moip\Magento2\Block\Adminhtml\System\Config\AddressMap</source_model>
                        <depends>
                            <field id="*/*/*/type_cpf">address</field>
                        </depends>
                        <config_path>payment/moip_magento2/cpf_for_address</config_path>
                        <validate>required-entry validate-select</validate>
                    </field>
                    <field id="cpf_for_customer" translate="label select" type="select" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>The CPF/CNPJ attribute is</label>
                        <source_model>Moip\Magento2\Block\Adminhtml\System\Config\CustomerMap</source_model>
                        <depends>
                            <field id="*/*/*/type_cpf">customer</field>
                        </depends>
                        <config_path>payment/moip_magento2/cpf_for_customer</config_path>
                        <validate>required-entry validate-select</validate>
                    </field>
                    <field id="street" translate="label select" type="select" sortOrder="19" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>The Street attribute is</label>
                        <source_model>Moip\Magento2\Block\Adminhtml\System\Config\Street</source_model>
                        <config_path>payment/moip_magento2/street</config_path>
                        <validate>required-entry validate-select</validate>
                    </field> 
                    <field id="street_number" translate="label select" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>The address number is</label>
                        <source_model>Moip\Magento2\Block\Adminhtml\System\Config\Street</source_model>
                        <config_path>payment/moip_magento2/streetNumber</config_path>
                        <validate>required-entry validate-select</validate>
                    </field>
                    <field id="district" translate="label select" type="select" sortOrder="21" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>The address district is</label>
                        <source_model>Moip\Magento2\Block\Adminhtml\System\Config\Street</source_model>
                        <config_path>payment/moip_magento2/district</config_path>
                        <validate>required-entry validate-select</validate>
                    </field>
                    <field id="complement" translate="label select" type="select" sortOrder="22" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>The address complement is</label>
                        <source_model>Moip\Magento2\Block\Adminhtml\System\Config\Street</source_model>
                        <config_path>payment/moip_magento2/complement</config_path>
                        <validate>required-entry validate-select</validate>
                    </field>
                </group>
                <group id="credentials" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Credentials</label>
                    <field id="environment" translate="label select comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="0">
                        <label>Environment</label>
                        <source_model>Moip\Magento2\Block\Adminhtml\System\Config\Environment</source_model>
                        <config_path>payment/moip_magento2/environment</config_path>
                        <validate>required-entry validate-select</validate>
                    </field>
                    <field id="oauth" translate="label comment" type="button" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                        <frontend_model>Moip\Magento2\Block\Adminhtml\System\Config\Oauth</frontend_model>
                        <label>Module Authorization</label>
                        <comment>Warning because the sandbox account is not the same as production</comment>
                    </field>
                    <field id="statement_descriptor" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="0">
                        <label>Statement Descriptor</label>
                        <config_path>payment/moip_magento2/statement_descriptor</config_path>
                        <validate>required-entry</validate>
                    </field>
                </group>
                <group id="moip_magento2_cc" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Moip - Cartão de Crédito</label>
                    <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/moip_magento2_cc/active</config_path>
                    </field>
                    <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Title</label>
                        <config_path>payment/moip_magento2_cc/title</config_path>
                    </field>
                    <group id="document" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Payer Data Capture</label>
                        <comment>Define the payment form data capture</comment>
                        <field id="get_tax_document" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                            <label>Capture tax document (CPF or CNPJ) in the payment form?</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/moip_magento2_cc/get_tax_document</config_path>
                        </field>
                        <field id="get_birth_date" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                            <label>Capture date of birth in the payment form?</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/moip_magento2_cc/get_birth_date</config_path>
                        </field>
                        <field id="get_phone" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                            <label>Capture phone in the payment form?</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/moip_magento2_cc/get_phone</config_path>
                        </field>
                    </group>
                    <group id="installment" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Installment and interest</label>
                        <field id="type_interest" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                            <label>Interest rate</label>
                            <source_model>Moip\Magento2\Block\Adminhtml\System\Config\TypeInterest</source_model>
                            <config_path>payment/moip_magento2_cc/installment_type_interest</config_path>
                        </field>

                        <field id="min_installment" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                            <label>Minimum value of installment</label>
                            <validate>required-entry validate-number</validate>
                            <config_path>payment/moip_magento2_cc/installment_min_installment</config_path>
                        </field>
                        <field id="max_installment" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                            <label>Maximum number of installments</label>
                            <validate>required-entry validate-number</validate>
                            <config_path>payment/moip_magento2_cc/installment_max_installment</config_path>
                        </field>
                        
                        <field id="installment_2" translate="label" type="text" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                            <label>Interest on the 2nd tranche</label>
                            <validate>required-entry validate-number</validate>
                            <config_path>payment/moip_magento2_cc/installment_installment_2</config_path>
                        </field>
                        <field id="installment_3" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                            <label>Interest on the 3nd tranche</label>
                            <validate>required-entry validate-number</validate>
                            <config_path>payment/moip_magento2_cc/installment_installment_3</config_path>
                        </field>
                        <field id="installment_4" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                            <label>Interest on the 4nd tranche</label>
                            <validate>required-entry validate-number</validate>
                            <config_path>payment/moip_magento2_cc/installment_installment_4</config_path>
                        </field>
                        <field id="installment_5" translate="label" type="text" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                            <label>Interest on the 5nd tranche</label>
                            <validate>required-entry validate-number</validate>
                            <config_path>payment/moip_magento2_cc/installment_installment_5</config_path>
                        </field>
                        <field id="installment_6" translate="label" type="text" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                            <label>Interest on the 6nd tranche</label>
                            <validate>required-entry validate-number</validate>
                            <config_path>payment/moip_magento2_cc/installment_installment_6</config_path>
                        </field>
                        <field id="installment_7" translate="label" type="text" sortOrder="14" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                            <label>Interest on the 7nd tranche</label>
                            <validate>required-entry validate-number</validate>
                            <config_path>payment/moip_magento2_cc/installment_installment_7</config_path>
                        </field>
                        <field id="installment_8" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                            <label>Interest on the 8nd tranche</label>
                            <validate>required-entry validate-number</validate>
                            <config_path>payment/moip_magento2_cc/installment_installment_8</config_path>
                        </field>
                        <field id="installment_9" translate="label" type="text" sortOrder="16" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                            <label>Interest on the 9nd tranche</label>
                            <validate>required-entry validate-number</validate>
                            <config_path>payment/moip_magento2_cc/installment_installment_9</config_path>
                        </field>
                        <field id="installment_10" translate="label" type="text" sortOrder="17" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                            <label>Interest on the 10nd tranche</label>
                            <validate>required-entry validate-number</validate>
                            <config_path>payment/moip_magento2_cc/installment_installment_10</config_path>
                        </field>
                        <field id="installment_11" translate="label" type="text" sortOrder="18" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                            <label>Interest on the 11nd tranche</label>
                            <validate>required-entry validate-number</validate>
                            <config_path>payment/moip_magento2_cc/installment_installment_11</config_path>
                        </field>
                        <field id="installment_12" translate="label" type="text" sortOrder="19" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                            <label>Interest on the 12nd tranche</label>
                            <validate>required-entry validate-number</validate>
                            <config_path>payment/moip_magento2_cc/installment_installment_12</config_path>
                        </field>
                    </group>
                    <field id="payment_action" translate="label" type="select" sortOrder="210" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Payment Action</label>
                        <source_model>Moip\Magento2\Model\Adminhtml\Source\PaymentAction</source_model>
                        <config_path>payment/moip_magento2_cc/payment_action</config_path>
                    </field>
                </group>
                <group id="moip_magento2_boleto" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Moip - Boleto</label>
                    <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/moip_magento2_boleto/active</config_path>
                    </field>
                    <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Title</label>
                        <config_path>payment/moip_magento2_boleto/title</config_path>
                    </field>
                    <field id="expiration" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Days due</label>
                        <comment>Consecutive days.</comment>
                        <validate>required-entry validate-number</validate>
                        <config_path>payment/moip_magento2_boleto/expiration</config_path>
                    </field>
                    <field id="instruction_lines_first" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Instruction - 1st line</label>
                        <comment>Information will be printed on the boleto.</comment>
                        <config_path>payment/moip_magento2_boleto/instruction_lines_first</config_path>
                    </field>
                    <field id="instruction_lines_second" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Instruction - 2st line</label>
                        <comment>Information will be printed on the boleto.</comment>
                        <config_path>payment/moip_magento2_boleto/instruction_lines_second</config_path>
                    </field>
                    <field id="instruction_lines_third" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Instruction - 3st line</label>
                        <comment>Information will be printed on the boleto.</comment>
                        <config_path>payment/moip_magento2_boleto/instruction_lines_third</config_path>
                    </field>
                    <field id="instruction_checkout" translate="label" type="textarea" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Customer orientation at checkout</label>
                        <comment>Information displayed on checkout.</comment>
                        <config_path>payment/moip_magento2_boleto/instruction_checkout</config_path>
                    </field>
                    <group id="document" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Payer Data Capture</label>
                        <comment>Define the payment form data capture</comment>
                        <field id="get_name" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                            <label>Capture name in the payment form?</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/moip_magento2_boleto/get_name</config_path>
                        </field>
                        <field id="get_tax_document" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                            <label>Capture tax document (CPF or CNPJ) in the payment form?</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/moip_magento2_boleto/get_tax_document</config_path>
                        </field>
                    </group>
                    <field id="payment_action" translate="label" type="select" sortOrder="210" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Payment Action</label>
                        <source_model>Moip\Magento2\Model\Adminhtml\Source\PaymentAction</source_model>
                        <config_path>payment/moip_magento2_boleto/payment_action</config_path>
                    </field>
                </group>
                <group id="payment_config" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Payment Config</label>
                    <field id="debug" translate="label" type="select" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Debug</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/moip_magento2/debug</config_path>
                    </field>
                    <field id="min_order_total" translate="label" type="text" sortOrder="220" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Minimum Order Total</label>
                        <validate>validate-number validate-zero-or-greater</validate>
                        <config_path>payment/moip_magento2/min_order_total</config_path>
                    </field>
                    <field id="max_order_total" translate="label" type="text" sortOrder="230" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Maximum Order Total</label>
                        <validate>validate-number validate-zero-or-greater</validate>
                        <config_path>payment/moip_magento2/max_order_total</config_path>
                    </field>
                    <field id="allowspecific" translate="label" type="allowspecific" sortOrder="240" showInDefault="9" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Payment From Applicable Countries</label>
                        <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                        <config_path>payment/moip_magento2/allowspecific</config_path>
                    </field>
                    <field id="specificcountry" translate="label" type="multiselect" sortOrder="250" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Payment From Specific Countries</label>
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                        <config_path>payment/moip_magento2/specificcountry</config_path>
                    </field>
                    <field id="sort_order" translate="label" type="text" sortOrder="260" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="0">
                        <label>Sort Order</label>
                        <frontend_class>validate-number</frontend_class>
                        <config_path>payment/moip_magento2/sort_order</config_path>
                    </field>
                </group>
                <group id="payment_split" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Payment Split</label>
                    <comment>The payment slipt, transfer part of the order amount to another moip account. This is only a small fraction of what the Marketplace Moip API is capable of.</comment>
                    <field id="use_split" translate="label" type="select" sortOrder="600" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Use Split</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/moip_magento2/use_split</config_path>
                    </field>
                    <field id="secondary_mpa" translate="label" type="text" sortOrder="610" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="0">
                        <label>MPA - Secondary</label>
                        <config_path>payment/moip_magento2/secondary_mpa</config_path>
                        <validate>required-entry</validate>
                        <depends>
                            <field id="*/*/*/use_split">1</field>
                        </depends>
                    </field>
                    <field id="secondary_percent_include_shipping" translate="label" type="select" sortOrder="620" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Include Freight on Commission</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/moip_magento2/secondary_percent_include_shipping</config_path>
                        <depends>
                            <field id="*/*/*/use_split">1</field>
                        </depends>
                    </field>
                    <field id="secondary_percent_include_interest" translate="label" type="select" sortOrder="630" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Include credit card interest in the commission</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/moip_magento2/secondary_percent_include_interest</config_path>
                        <depends>
                            <field id="*/*/*/use_split">1</field>
                        </depends>
                    </field>
                    <field id="secondary_percent" translate="label" type="text" sortOrder="640" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="0">
                        <label>Percentage sent to the commissioner</label>
                        <config_path>payment/moip_magento2/secondary_percent</config_path>
                        <validate>required-entry validate-digits validate-not-negative-number validate-digits-range digits-range-1-100</validate>
                        <depends>
                            <field id="*/*/*/use_split">1</field>
                        </depends>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
