<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="moipbase" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Moip Base</label>
                <field id="environment_mode" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Ambiente</label>
                    <source_model>Moip\Magento2\Block\Adminhtml\System\Config\Environment</source_model>
                    <comment>Para vendas reais use o ambiente de produção, para testes o de sandbox.</comment>
                </field>
                <field id="oauth" translate="label comment" type="button" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                    <frontend_model>Moip\Magento2\Block\Adminhtml\System\Config\Oauth</frontend_model>
                    <label>Autênticação:</label>
                    <comment>Atenção pois a conta de sandbox não é mesma de produção</comment>
                </field>
                <group id="advanced" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                	<label>Configurações Avançadas</label>
                	<field id="type_cpf" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
	                    <label>O CPF será um atributo</label>
	                    <source_model>Moip\Magento2\Block\Adminhtml\System\Config\TypeCPF</source_model>
	                </field>
	                <field id="cpf_for_address" translate="label" type="select" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="0">
	                    <label>O atributo do CPF é</label>
	                    <source_model>Moip\Magento2\Block\Adminhtml\System\Config\AddressMap</source_model>
	                    <depends>
	                        <field id="*/*/*/type_cpf">address</field>
	                    </depends>
	                </field>
	                <field id="cpf_for_customer" translate="label" type="select" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="0">
	                    <label>O atributo do CPF é</label>
	                    <source_model>Moip\Magento2\Block\Adminhtml\System\Config\CustomerMap</source_model>
	                    <depends>
	                        <field id="*/*/*/type_cpf">customer</field>
	                    </depends>
	                </field>
	                <field id="type_cnpj" translate="label" type="select" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="0">
	                    <label>O CNPJ será</label>
	                    <source_model>Moip\Magento2\Block\Adminhtml\System\Config\TypeCNPJ</source_model>
	                </field>
	                <field id="cnpj_for_address" translate="label" type="select" sortOrder="14" showInDefault="1" showInWebsite="1" showInStore="0">
	                    <label>O atributo do CNPJ é</label>
	                    <source_model>Moip\Magento2\Block\Adminhtml\System\Config\AddressMap</source_model>
	                    <depends>
	                        <field id="*/*/*/type_cnpj">use_address</field>
	                    </depends>
	                </field>
	                <field id="cnpj_for_customer" translate="label" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="0">
	                    <label>O atributo do CNPJ é</label>
	                    <source_model>Moip\Magento2\Block\Adminhtml\System\Config\CustomerMap</source_model>
	                    <depends>
	                        <field id="*/*/*/type_cnpj">use_customer</field>
	                    </depends>
	                </field>
	                <field id="type_name_company" translate="label" type="select" sortOrder="16" showInDefault="1" showInWebsite="1" showInStore="0">
	                    <label>O nome da empresa será</label>
	                    <source_model>Moip\Magento2\Block\Adminhtml\System\Config\TypeNameCompany</source_model>
	                </field>
	                <field id="company_name_address" translate="label" type="select" sortOrder="17" showInDefault="1" showInWebsite="1" showInStore="0">
	                    <label>O atributo do Nome da Empresa é</label>
	                    <source_model>Moip\Magento2\Block\Adminhtml\System\Config\AddressMap</source_model>
	                    <depends>
	                        <field id="*/*/*/type_name_company">address</field>
	                    </depends>
	                </field>
	                <field id="company_name_customer" translate="label" type="select" sortOrder="18" showInDefault="1" showInWebsite="1" showInStore="0">
	                    <label>O atributo do Nome da Empresa é</label>
	                    <source_model>Moip\Magento2\Block\Adminhtml\System\Config\AddressMap</source_model>
	                    <depends>
	                        <field id="*/*/*/type_name_company">customer</field>
	                    </depends>
	                </field>
	                <field id="street_logradouro" translate="label" type="select" sortOrder="19" showInDefault="1" showInWebsite="1" showInStore="0">
	                    <label>Atributo do Logradouro</label>
	                    <source_model>Moip\Magento2\Block\Adminhtml\System\Config\Street</source_model>
	                </field>
	                <field id="street_number" translate="label" type="select" sortOrder="19" showInDefault="1" showInWebsite="1" showInStore="0">
	                    <label>Atributo do Número</label>
	                    <source_model>Moip\Magento2\Block\Adminhtml\System\Config\Street</source_model>
	                </field>
	                <field id="street_complemento" translate="label" type="select" sortOrder="19" showInDefault="1" showInWebsite="1" showInStore="0">
	                    <label>Atributo do Complemento</label>
	                    <source_model>Moip\Magento2\Block\Adminhtml\System\Config\Street</source_model>
	                </field>
	                <field id="street_district" translate="label" type="select" sortOrder="19" showInDefault="1" showInWebsite="1" showInStore="0">
	                    <label>Atributo do Bairro</label>
	                    <source_model>Moip\Magento2\Block\Adminhtml\System\Config\Street</source_model>
	                </field>
               	</group>
                
            </group>
             <group id="moipboleto" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Moip boleto</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="logo_boleto" translate="label comment" type="image" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Logo do boleto</label>
                    <backend_model>Moip\Magento2\Block\Adminhtml\System\Config\Image</backend_model>
                    <base_url type="media" scope_info="1">moip</base_url>
                </field>
                <field id="expiration" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Dias de Vencimento</label>
                    <comment>Em dias corridos.</comment>
                    <validate>required-entry validate-number</validate>
                </field>
                <field id="instrucao1" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Instrução - 1ª linha</label>
                    <comment>Informação impressa no boleto.</comment>
                </field>
                <field id="instrucao2" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Instrução - 2ª linha</label>
                    <comment>Informação impressa no boleto.</comment>
                </field>
                <field id="instrucao3" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Instrução - 3ª linha</label>
                    <comment>Informação impressa no boleto.</comment>
                </field>
                <field id="instruction" translate="label" type="textarea" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Oritentação ao cliente no checkout</label>
                    <comment>Informação exbida no checkout.</comment>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sort Order</label>
                </field>
                <field id="allowspecific" translate="label" type="allowspecific" sortOrder="130" showInDefault="9"
                       showInWebsite="1" showInStore="0">
                    <label>Payment From Applicable Countries</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="140" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Payment From Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                </field>
            </group>
            <group id="moipcc" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Moip Cartão de Crédito</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
			 	<field id="title" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
				
				<field id="min_installment" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Valor mínimo da parcela</label>
                    <validate>required-entry validate-number</validate>
                </field>
				<field id="max_installment" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Máximo Parcela</label>
                    <validate>required-entry validate-number</validate>
                </field>
				
				<field id="install_2" translate="label" type="text" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Parcela 2</label>
                    <validate>required-entry validate-number</validate>
                </field>
				<field id="install_3" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Parcela 3</label>
                    <validate>required-entry validate-number</validate>
                </field>
				<field id="install_4" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Parcela 4</label>
                    <validate>required-entry validate-number</validate>
                </field>
				<field id="install_5" translate="label" type="text" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Parcela 5</label>
                    <validate>required-entry validate-number</validate>
                </field>
				<field id="install_6" translate="label" type="text" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Parcela 6</label>
                    <validate>required-entry validate-number</validate>
                </field>
				<field id="install_7" translate="label" type="text" sortOrder="14" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Parcela 7</label>
                    <validate>required-entry validate-number</validate>
                </field>
				<field id="install_8" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Parcela 8</label>
                    <validate>required-entry validate-number</validate>
                </field>
				<field id="install_9" translate="label" type="text" sortOrder="16" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Parcela 9</label>
                    <validate>required-entry validate-number</validate>
                </field>
				<field id="install_10" translate="label" type="text" sortOrder="17" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Parcela 10</label>
                    <validate>required-entry validate-number</validate>
                </field>
				<field id="install_11" translate="label" type="text" sortOrder="18" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Parcela 11</label>
                    <validate>required-entry validate-number</validate>
                </field>
				<field id="install_12" translate="label" type="text" sortOrder="19" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Parcela 12</label>
                    <validate>required-entry validate-number</validate>
                </field>
				
				<field id="sort_order" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sort Order</label>
                </field>
				<field id="allowspecific" translate="label" type="allowspecific" sortOrder="130" showInDefault="9"
                       showInWebsite="1" showInStore="0">
                    <label>Payment From Applicable Countries</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="140" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Payment From Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
